

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ornek</title>
    <link href="~/Content/hint.min.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <a class="hint--right  hint--info" data-hint="This is an info tooltip">You can use different classes for different types of tooltips.</a>
    </div>
</body>
</html>
